# Question 1

Consider the following Python module:
a = 0
def b():
     global a
     a = c(a)
def c(a):
     return a + 2
After importing the module into the interpreter, you execute:
b()
b()
b()
a

What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

The value displeyed in the console will be 6
reason. We have declared a variable 'a' as 6 globally
we are telling the interpreter that use global variable a for the calculations. 
so the first b() takes the gloal 'a' whose value is set to be 0. call c(0) a now becomes 2.
second b() takes the a =2 and calls c(2) and returns a  which has the value 4.
third time by calling b() the value  of a is now 6
and printing a in interpreter the global a is dispalyed and has the value 6 assigned/stored to it.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
fileLength('midterm.py')
284
fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
fileLength('midterm.py')
358
fileLength('idterm.py')
File idterm.py not found.

In [51]:
def fileLength(nameOfFile):
    try:
        infile = open(nameOfFile)
        content = infile.read()
        return (len(content))
    except FileNotFoundError:
        return f"File {nameOfFile} not found."

In [52]:
#trying an invalid file name
fileLength("idterm.py")

'File idterm.py not found.'

In [53]:
fileLength('sample.txt')

66

# Question 3

Write a class named Marsupial that can be used as shown below:
 m = Marsupial()
 m.put_in_pouch('doll')
 m.put_in_pouch('firetruck')
 m.put_in_pouch('kitten')
 m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [27]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self, item):
        self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch

In [28]:
m = Marsupial()

In [29]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [30]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [31]:
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [32]:
k = Kangaroo(0, 0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
contents = k.pouch_contents()

print(contents)

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)

print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# QUESTION 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 , 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [46]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [47]:
collatz(10)

10
5
16
8
4
2
1

In [48]:
collatz(3)

3
10
5
16
8
4
2
1

In [49]:
collatz(1)

1

# QUESTION 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [41]:
def binary(n):
    if n == 0:
        print(0,end='')
    elif n == 1:
        print(1,end='')
    else:
        binary(n // 2) 
        print(n % 2,end='')

In [42]:
binary(10)

1010

In [43]:
binary(1)

1

In [44]:
binary(0)

0

In [45]:
binary(7)

111

# QUESTION 8

Write SQL queries on the below database table that return:

CREATE TABLE WeatherData (
    City VARCHAR(255),
    Country VARCHAR(255),
    Season VARCHAR(255),
    Temperature_in_C DECIMAL(5, 2),
    Rainfall DECIMAL(7, 2)
);

a) All the temperature data.

In [ ]:
SELECT Temperature_in_C FROM WeatherData;

b) All the cities, but without repetition.

In [ ]:
SELECT DISTINCT City FROM WeatherData;

c) All the records for India.

In [ ]:
SELECT * FROM WeatherData WHERE Country = 'India';

d) All the Fall records.

In [ ]:
SELECT * FROM WeatherData WHERE season = 'Fall';

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [ ]:
SELECT City, Country, Season
FROM WeatherData
GROUP BY city, country, season
HAVING AVG(Rainfall) BETWEEN 200 AND 400;

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [ ]:
SELECT City, Country
FROM WeatherData
WHERE season = 'Fall'
GROUP BY City, Country
HAVING AVG(Temperature_in_C) > 20
ORDER BY AVG(Temperature_in_C) ASC;

g) The total annual rainfall for Cairo.

SELECT SUM(Rainfall) AS Total_Rainfall
FROM WeatherData
WHERE City = 'Cairo';

h) The total rainfall for each season.

In [ ]:
SELECT Season, SUM(Rainfall) AS total_rainfall
FROM weather_data
GROUP BY season;

# Question 9

Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists

In [54]:
words = ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']

In [36]:
print([word.upper() for word in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']

In [37]:
print([word.lower() for word in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).

In [38]:
print([len(word) for word in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [39]:
print([[word.upper(), word.lower(), len(word)] for word in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [40]:
words = ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
print([word for word in words if len(word) >= 4])

['QUICK', 'BROWN', 'JUMPS', 'OVER', 'LAZY']